.calculator-container {
  background-color: var(--display);
  width: 18rem;
  height: 32rem;
  padding: 2% 3.6% 1.6% 3.6%;
  border-radius: var(--border);
  margin-top: 6rem;
  transition: all var(--transition) ease-in-out;
  border: 2px solid var(--background);
  box-shadow: 0px 0px 61px 3px var(--box-shadow);
}

.calculator-display {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-bottom: 2%;
  /* border: 2px solid var(--pad); */
  border-radius: var(--border);
  user-select: none;
  overflow: hidden;
}

.calculator-display .calculator-result {
  font-size: 5rem;
  margin: -25px 15px 0 0;
  color: var(--result);
}

.calculator-display .calculator-imc-feedback {
  font-size: .8rem;
  margin-right: 10%;
  font-weight: 700;
  color: var(--num-pad);
}

.calculator-display .calculator-temporary {
  margin: 10px 10%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--num-pad);
}

.calculator-pad {
  width: 100%;
  height: 70%;
  display: flex;
  margin-left: -10px;
  padding: 10px;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--pad);
  border-radius: var(--border);
}

.button-align {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: .1rem;
}

.options-align {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.active-options {
  animation: appears-options var(--transition) ease-in-out normal;
  display: flex;
  margin-top: .2rem;
}

@keyframes appears-options {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
  }
}

/* button 0 style  */
.button-align:last-of-type button:nth-child(1) {
  min-width: 9rem;
  border-radius: 50px;
  border: none;
  height: 4rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 30px;
}