#btn {
    width: 3.4rem;
    height: 3.4rem;
    font-weight: 700;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: all 100ms ease-in-out;
    margin: 5px 5px 5px 5px;
}

#btn:hover {
    transform: scale(.95);
    
}

.primary-btn {
    /* background-color: var(--buttons); */
    color: var(--letter-buttons);
    box-shadow: var(--btn-box-shadow);
}

.primary-btn:hover {
    background-color: #777676;
}

.secondary-btn {
    background-color: var(--buttons);
    color: var(--letter-buttons);
    box-shadow: var(--btn-box-shadow);
}

.secondary-btn:hover {
    background-color: #d68204;
}

.default-btn {
    background-color: var(--pad);
    color: var(--num-pad);
}

.option-btn {
    background-color: var(--pad);
    color: var(--num-pad);
}

.default-btn:hover {
    background-color: #2120203b;
}

.erase-btn {
    background-color: #ff450286;
    color: #fff;
}

.erase-btn-active {
    animation: pulse 300ms ease-in-out infinite;
    background-color: #fa571b;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}
