.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-container {
  background-color: #111;
  width: 18rem;
  height: 32rem;
  padding: 5%;
  margin-top: 6rem;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.calculator-display {
  background-color: #767676bb;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-bottom: 2%;
  border: 1px solid #999;
  border-radius: 20px;
  user-select: none;
  overflow: hidden;
}

.calculator-display .calculator-result {
  font-size: 5rem;
  margin: -25px 15px 0 0;
}

.calculator-display .calculator-imc-feedback {
  font-size: .8rem;
  margin-right: 10%;
  font-weight: 700;
}

.calculator-display .calculator-temporary {
  margin: 10px 10%;
  font-size: 1rem;
}

.calculator-pad {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
}

.button-align {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: .2rem;
}

.options-align {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.active-options {
  animation: appears-options 200ms ease-in-out normal;
  display: flex;
  margin-top: .2rem;
}

@keyframes appears-options {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
  }
}

/* button 0 style  */
.button-align:last-of-type button:nth-child(1) {
  min-width: 9rem;
  border-radius: 50px;
  border: none;
  height: 4rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 30px;
}

.footer-align {
  text-align: center;
  overflow: hidden;
}

.footer-btn {
  margin-top: 2rem;
  cursor: pointer;
  padding: 10px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: translateY(-150px);
  transition: all 500ms ease-in-out;
  background-color: #111;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
}

.name-container a {
  color: #fff;
  font-weight: bold;
}

.active {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: fill;
  margin-top: 10px;
}
