#btn {
    width: 3.7rem;
    height: 3.7rem;
    font-weight: 700;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    font-size: 25px;
}

#btn:hover {
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
}

.primary-btn {
    background-color: var(--buttons);
    color: var(--letter-buttons);
}

.primary-btn:hover {
    background-color: #777676;
}

.secondary-btn {
    background-color: var(--buttons);
    color: var(--letter-buttons);
}

.secondary-btn:hover {
    background-color: #d68204;
}

.default-btn {
    /* background-color: rgba(0, 0, 0, 0.24); */
    color: var(--num-pad);
}

.default-btn:hover {
    background-color: #212020;
}

.erase-btn {
    background-color: #ff450286;
    color: #fff;
}

.erase-btn-active {
    animation: pulse 300ms ease-in-out infinite;
    background-color: #fa571b;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}
